{# Note that the version comparison is doing lexicographical comparison #}
{% if (msit_buildingitsitetypedesc is defined and 'IT Data Center' in msit_buildingitsitetypedesc) or version < '5.3' %}
ntp server {{ ntp_service_ipv4 }} use-vrf management

{% if 'IPv6 Interface Status' in ipv6_interface.stdout[0] and ntp_service_ipv6 is defined %}
ntp server {{ ntp_service_ipv6 }} prefer use-vrf management
{% endif %}

{% else %}
ntp authenticate
ntp authentication-key 1 md5 {{ ntp_peering_key }}
ntp trusted-key 1

ntp server {{ ntp_service_ipv4 }} use-vrf management key 1
{% if 'IPv6 Interface Status' in ipv6_interface.stdout[0] and ntp_service_ipv6 is defined %}
ntp server {{ ntp_service_ipv6 }} prefer use-vrf management key 1
{% endif %}
{% endif %}
