interface GigabitEthernet2/0/2
 description test1 interface

interface GigabitEthernet2/0/3
 description test2 interface

interface GigabitEthernet2/0/4
 description test3

ip access-list extended test
 permit ip host 2.2.2.2 any log
 permit ip host 3.3.3.3 any log
 permit ip host 4.4.4.4 any log
 permit ip host 5.5.5.5 any log
